@use '@carbon/layout';
@use '@carbon/type';

.container {
  padding: layout.$spacing-07;
}

.welcome {
  @include type.type-style('heading-04');
  margin: layout.$spacing-05 0;
}

.explainer {
  margin-bottom: layout.$spacing-07;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin: 1rem 0 2rem;
  max-width: 20rem;
}
